body {
  margin: 0;
  background-color: #fdf3dd; /* Light color */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ba4b2f; /* Dark color */
}

.App {
  text-align: center;
}

.app-title {
  font-family: 'DM Sans', sans-serif;
  color: #fdf3dd; /* Light color */
}

.day {
  border: 2px solid #ba4b2f; /* Dark color */
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #fdf3dd; /* Light color */
  transition: background-color 0.3s;
}

.day.completed {
  background-color: #ba4b2f; /* Dark color */
  color: #fdf3dd; /* Light color */
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #ba4b2f; /* Dark color */
  font: inherit;
  width: 1.15em;
  height: 1.15em;
}
