.App {
  text-align: center;
}

.day {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.completed {
  background-color: lightgreen;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}
