body {
  margin: 5%;
  background-color: #fdf3dd; /* Light color */
  display: block;
  justify-content: center;
  align-items: center;
  color: #ba4b2f; /* Dark color */
  font-family: 'Montaga', sans-serif;
}

.App {
  text-align: center;
}

.day {
  border: 2px solid #ba4b2f; /* Dark color */
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #fdf3dd; /* Light color */
  transition: background-color 0.3s;
}

/* Update the .days container */
.days {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Add some gap between cells */
}

/* Apply styles for alternating rows */
.day:nth-child(even) {
  grid-column: 2 / span 2; /* Middle-right columns */
}

.day:nth-child(odd) {
  grid-column: 1 / span 2; /* Left-middle columns */
}

.day.completed {
  background-color: #ba4b2f; /* Dark color */
  color: #fdf3dd; /* Light color */
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #ba4b2f; /* Dark color */
  font: inherit;
  width: 1.15em;
  height: 1.15em;
}
